@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Pixel;
    src: url("./assets/Thirteen-Pixel-Fonts.ttf");
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
     -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.fill-available {
    height: 100vh;
    height: -webkit-fill-available;
}

.movie-poster {
    transition: transform 300ms;
}
.movie-highlight-item:hover .movie-poster {
    transform: scale(1.05);
}

.backdrop-blur {
    backdrop-filter: blur(4px);
  }

.radial-background {
    background: radial-gradient(rgb(5,5,15),rgb(5,5,20));
}